html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: #f3ffef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clockbox{
    position: absolute;
    width: 40%;
    padding-bottom: 40%;
}
.clock{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid #7B2869;
    border-radius: 50%;
    background-color: #FFBABA;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px 5px #7B2869;
}
.box{
    position: absolute;
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    color: #7B2869;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.rotat-10-4{
    transform: rotate(30deg)
}
    .digit10{
        transform: rotate(-30deg);
    }
    .digit4{
        transform: rotate(-30deg);
    }

.rotat-5-11{
    transform: rotate(60deg)
}
    .digit5{
        transform: rotate(-60deg);
    }
    .digit11{
        transform: rotate(-60deg);
    }

.rotat-6-12{
    transform: rotate(90deg)
}
    .digit6{
        transform: rotate(-90deg);
        border-radius: 3px;
    }
    .digit12{
        transform: rotate(-90deg);
        border: 3px solid #7B2869;
        border-radius: 3px;
        box-shadow: 1px 1px 1px 1px #9D3C72;
    }

.rotat-7-1{
    transform: rotate(120deg)
}
    .digit1{
        transform: rotate(-120deg);
    }
    .digit7{
        transform: rotate(-120deg);
    }

.rotat-8-2{
    transform: rotate(150deg)
}
    .digit8{
        transform: rotate(-150deg);
    }
    .digit2{
        transform: rotate(-150deg);
    }

.hand{
    width: .1%;
    height: .1%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.sec{
    position: absolute;
    height: 35%;
    width: 1%;
    border-radius: 50%;
    background-color: #C85C8E;
    animation: time 5s linear infinite;
    transform-origin: top;
}
@keyframes time {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.min{
    position: absolute;
    height: 30%;
    width: 1.25%;
    border-radius: 50%;
    background-color: #9D3C72;
    animation: time 20s linear infinite;
    transform-origin: top;
}
.hour{
    position: absolute;
    height: 25%;
    width: 1.5%;
    border-radius: 50%;
    background-color: #7B2869;
    animation: time 60s linear infinite;
    transform-origin: top;
}
@media only screen and (max-width: 800px){
    .box{
        font-size: 12px;
    }
}
